/* This file contains styles that are ONLY applied to the print view. */

@media print {
  /* Hide scrollbars and other screen-only elements */
  body {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari */
    color-adjust: exact !important; /* Firefox */
  }

  /* Ensure the content takes the full page */
  @page {
    size: A4;
    margin: 0;
  }
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #FFF;
}

#print-content {
    width: 210mm; /* A4 width */
    min-height: 297mm; /* A4 height */
    margin: 0 auto;
    background-color: #FFF;
}
